.idea
site/
env/
*.out
node_modules/
.DS_Store
**/.DS_Store
*.iml
common/
.doctools.action-builder
docker-compose.dev.yml
.env.dev
.env
__pycache__
/.github/vale/styles/*
!/.github/vale/styles/Consensys/
!/.github/vale/styles/Vocab/
