{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "never",
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true
}
