# SPDX-License-Identifier: Apache-2.0

# docOps team
*                           @ConsenSys/consensys-docops

# Doc team
/docs/                      @ConsenSys/protocol-pliny
/mkdocs.*.yml               @ConsenSys/protocol-pliny
.github/vale/styles/Vocab/  @ConsenSys/protocol-pliny
