main {
  background-color: var(--page-background) !important;
}

.cardContainer {
  padding-bottom: 60px;
  margin: 20px auto;
  align-items: center;
  max-width: 90% !important;
}

.cardHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 5px 20px 20px;
}

.cardIcon {
  color: var(--banner-text);
  position: absolute;
  right: 22px;
  top: 25px;
  width: 35px;
  height: auto;
  transition: width 0.25s ease;
}

.cardBody {
  text-align: left;
  padding-left: 40px;
  transition: padding-left 0.25s ease;
}

@media (width <= 1500px) {
  .cardBody {
    padding-left: 30px;
  }
}

@media (width <= 1500px) {
  .cardIcon {
    width: 35px;
  }
}

.cardTitle h3 {
  color: var(--banner-text);
  font-size: 1.45rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  padding-right: 60px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: font-size 0.25s ease, margin-left 0.25s ease;
}

@media (width <= 1500px) {
  .cardTitle h3 {
    font-size: 1.45rem;
    font-weight: 500;
    margin-left: 10px;
  }
}

.description {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

@media (width <= 1500px) {
  .description {
    font-size: 16px;
  }
}

.heading {
  display: inline-block;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--banner-text);
  border-bottom: 2px solid var(--linea-highlight-color-2);
}

.heading, .cardContainer {
  text-align: center;
  margin-bottom: 40px;
}

.card_glow {
  position: relative;
  background-color: var(--homepage-card-background);
  color: var(--ifm-color-primary);
  border-radius: 17px;
  overflow: visible;
  transform: scale(1);
  transition: transform 0.15s ease-in-out, border-color 0.3s ease-in-out;
  min-height: 280px;
}

.card_glow:hover {
  transform: translateY(-10px);
  border-color: var(--homepage-card-border-color-hover);
}

.circle {
  width: 12px;
  height: 12px;
  background-color: var(--homepage-card-border-color);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
  transition: background-color 0.3s ease-in-out;
}

.card_glow:hover .circle {
  background-color: var(--homepage-card-dot-hover);
}

.card {
  color: var(--homepage-card-text);
}

.button {
  background-color: #fff;
  transition: transform 0.2s ease-in-out, background-color 0.25s ease-in-out,
    border 0.15s ease-in-out;
  height: 45px;
  border-radius: 500px;
  border: none;
  overflow: visible;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  color: #121212;
}

.button:hover {
  background-color: #121212;
  overflow: visible;
  transform: scale(1.02);
  color: #fff;
}
