.icon {
  color: #fff;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  transition: color 0.3s ease;
}

.bannerButton {
  background-color: var(--linea-highlight-color-2);
  color: #fff !important;
  border: none;
  padding: 20px 60px 20px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: AtypDisplay;
  font-size: 20px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

@media (width <= 768px) {
  .bannerButton {
    padding: 15px 65px;
  }
}

@media (width <= 320px) {
  .bannerButton {
    font-size: 16px;
    padding: 15px 25px;
  }
}

.bannerButton:hover {
  background-color: var(--linea-highlight-color-1);
  color: #121212 !important;
  transform: scale(1.05);
}

.bannerButton:hover .icon {
  color: #121212;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forceColor {
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .forceColor {
  color: var(--ifm-font-color-secondary);
}

.logo {
  color: var(--linea-banner-color-1);
  padding-right: 10px;
  padding-left: 10px;
  height: 70px;
  width: auto;
  filter: drop-shadow(2px 2px 3px var(--banner-text-shadow));
}

@media (width <= 768px) {
  .logo {
  height: 40px;
  width: auto;
  }
}

@media (width <= 320px) {
  .logo {
    margin-top: 35px;
    height: 35px;
    width: auto;
  }
}

.title {
  color: var(--linea-text-color-1);
  font-size: 45px;
  padding-bottom: 20px;
}

@media (width <= 768px) {
  .title {
    font-size: 30px;
  }
}

@media (width <= 320px) {
  .title {
    font-size: 20px;
  }
}

.subtitle {
  color: var(--linea-text-color-1);
  font-size: 21px;
  padding: 0 9rem 20px;
}

@media (width <= 996px) {
  .subtitle {
    font-size: 18px;
    padding: 0 10vw 20px;
  }
}

@media (width <= 320px) {
  .subtitle {
    font-size: 15px;
    padding: 0 0 20px;
    padding: 0;
  }
}

@media (height <= 850px) {
  .subtitle {
    font-size: 16px;
  }
}

.heroBanner {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: 70vh;
}

/* banner background image */
.introductionBlock {
  background-color: var(--banner-background);
  /* adjust banner background svgs independently */
  background-image: url('/img/linea_globe.svg'), url('/img/linea_globe.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right -170% top 100%, left -165% top -20%; 
  background-size: 70%, 70%;
  padding: 6rem;
  text-align: center;
  height: 52vh;
  width: calc(100% - 22rem) !important;
  max-width: 1500px;
  border-radius: 17px;
  margin: 0 auto 30px auto;
  position: relative;
}

@media (max-width: 1320px) {
  .introductionBlock {
    height: 60vh;
    width: 87.5% !important;
  }
}

@media (max-width: 996px) {
  .introductionBlock {
    width: 94% !important;
  }
}

@media (max-width: 768px) {
  .introductionBlock {
    padding: 2rem;
  }
}

@media (max-width: 320px) {
  .introductionBlock {
    padding: 0;
    height: 55vh;
  }
}

.footerImageContainer {
  position: relative;
  text-align: center; /* Ensures the image is centered */
  padding-top: 20px; /* Adds space above the image */
  margin-top: 30px; /* Adds more space between the footer and image */
  margin: 0;
}

.footerImage {
  max-width: 100%; /* Ensures the image scales with the viewport */
  height: auto; /* Maintains the aspect ratio */
  display: inline-block; /* Aligns it properly */
  margin: 0;
  padding-bottom: -10px;
}
