/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .introductionBlock {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introductionBlock {
  background: #000;
  padding: 6rem;
  text-align: center;
  width: 100%;
}

.forceColor {
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .forceColor {
  color: var(--ifm-font-color-secondary);
}

.title {
  font-size: clamp(1.5rem, 5vw, 6rem);
}

.subtitle {
  font-size: clamp(0.8rem, 1vw, 2rem);
}
