.icon {
  color: #61dfff;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  transition: color 0.3s ease;
}

.bannerButton {
  background-color: var(--linea-navbar-background);
  color: #61dfff !important;
  border: none;
  padding: 20px 60px 20px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: AtypDisplay, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

@media (width <= 320px) {
  .bannerButton {
    font-size: 16px;
    padding: 15px 25px;
  }
}

.bannerButton:hover {
  background-color: var(--linea-highlight-color-1);
  color: #121212 !important;
  transform: scale(1.05);
}

.bannerButton:hover .icon {
  color: #121212;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--linea-banner-color-1);
  padding-right: 15px;
  padding-left: 10px;
  height: 55px;
  width: auto;
}

@media (width <= 320px) {
  .logo {
    margin-top: 35px;
    height: 35px;
    width: auto;
  }
}

.title {
  color: var(--linea-banner-logo);
  font-size: 55px;
  font-weight: 400;
  padding-bottom: 10px;
}

@media (width <= 768px) {
  .title {
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (width <= 530px) {
  .title {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (width <= 450px) {
  .title {
    padding-left: 0;
    padding-right: 0;
  }
}

.subtitle {
  color: var(--linea-banner-logo);
  font-size: 32px;
  font-weight: 400;
  padding: 0 9rem 10px;
  margin-bottom: 25px;
}

@media (width <= 1250px) {
  .logo {
    height: 38px;
    width: auto;
  }

  .title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 26px;
  }
}

@media (width <= 996px) {
  .subtitle {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bannerButton {
    padding: 20px 40px;
  }
}

@media (width <= 350px) {
  .subtitle {
    padding: 0 0 20px;
    padding: 0;
  }
}

@media (height <= 850px) {
  .subtitle {
    font-size: 16px;
  }
}

@media (width <= 350px) {
  .title {
    font-size: 38px;
    padding-left: 0;
    padding-right: 0;
  }
}

.heroBanner {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: 70vh;
}

/* banner background images */
.introductionBlock {
  background-color: var(--banner-background);
  /* adjust banner background svgs independently */
  background-image: url("/img/linea_globe.svg"), url("/img/linea_globe.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    right -170% top 100%,
    left -165% top -20%;
  background-size: 70%, 70%;
  padding: 6rem;
  text-align: center;
  height: 60vh;
  min-height: 575px;
  width: calc(100vw - 2.5rem) !important;
  border-radius: 14px;
  margin: 0 auto;
  position: relative;
}

@media (width <= 1380px) {
  .introductionBlock {
    height: 60vh;
  }
}

@media (width <= 768px) {
  .introductionBlock {
    padding: 2rem;
    height: 75vh;
    background-position:
    right -285% top 150%,
    left -295% top -80%;
    background-size: 80%, 80%;
  }
}

@media (width <= 530px) {
  .introductionBlock {
    background-image: url("/img/Linea_mob_banner_1.svg"), url("/img/Linea_mob_banner_2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 40%;
    background-position: bottom left, top right;
    height: auto;
  }
}

@media (width <= 320px) {
  .introductionBlock {
    padding: 0;
    height: 75vh;
  }
}

.footerImageContainer {
  position: relative;
  text-align: center;
  padding-top: 20px;
  margin: 30px 0 0;
}

.footerImage {
  max-width: 80vw;
  height: auto;
  display: inline-block;
  margin: 0 20px;
  transform: translateY(10px);
}

/* search bar */
.searchBarContainer {
  display: flex;
  justify-content: center;
}

.searchBarContainer {
  padding-top: 80px;
  padding-right: 16px;
}

.searchBarContainer input {
  font-size: 1.3rem;
  font-weight: 600;
  width: 40vw;
  height: 65px;
  border-radius: 12px;
  border: 2px solid var(--navbar-background);
  background: var(--search-background);
  margin-right: 0;
}

.navbar__search-input:focus-visible {
  outline-color: #61dfff !important;
}

.searchBarContainer .navbar__search {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

@media (max-width: 700px) {
  .searchBarContainer .navbar__search {
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    width: 100% !important;
    box-sizing: border-box !important;
  }
}

/* search results dropdown, somewhat workaroundy but swizzle-free way to target and center */
[role="listbox"][id^="searchBar_"] {
  position: absolute;
  margin: 0;
  right: 50%;
  left: 50%;
  margin-top: 10px;
  width: var(--search-local-modal-width, 39.8vw); 
  z-index: 100;
  display: block;
}

@media (max-width: 996px) {
  [role="listbox"][id^="searchBar_"] {
    width: var(--search-local-modal-width, 450px); 
  }
}

@media (max-width: 550px) {
  [role="listbox"][id^="searchBar_"] {
    width: var(--search-local-modal-width, 80vw); 
  }
}