.icon {
  color: #fff;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  transition: color 0.3s ease;
}

.bannerButton {
  background-color: var(--linea-highlight-color-2);
  color: #fff !important;
  border: none;
  padding: 20px 60px 20px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: AtypDisplay, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

@media (width <= 768px) {
  .bannerButton {
    padding: 15px 65px;
  }
}

@media (width <= 320px) {
  .bannerButton {
    font-size: 16px;
    padding: 15px 25px;
  }
}

.bannerButton:hover {
  background-color: var(--linea-highlight-color-1);
  color: #121212 !important;
  transform: scale(1.05);
}

.bannerButton:hover .icon {
  color: #121212;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--linea-banner-color-1);
  padding-right: 10px;
  padding-left: 10px;
  height: 70px;
  width: auto;
}

@media (width <= 768px) {
  .logo {
    height: 40px;
    width: auto;
  }
}

@media (width <= 320px) {
  .logo {
    margin-top: 35px;
    height: 35px;
    width: auto;
  }
}

.title {
  color: var(--linea-banner-logo);
  font-size: 45px;
  padding-bottom: 20px;
}

@media (width <= 768px) {
  .title {
    margin-top: 60px;
    font-size: 30px;
  }
}

@media (width <= 320px) {
  .title {
    font-size: 20px;
  }
}

.subtitle {
  color: var(--linea-banner-logo);
  font-size: 21px;
  padding: 0 9rem 20px;
}

@media (width <= 996px) {
  .subtitle {
    font-size: 18px;
    padding: 0 10vw 20px;
  }
}

@media (width <= 320px) {
  .subtitle {
    font-size: 15px;
    padding: 0 0 20px;
    padding: 0;
  }
}

@media (height <= 850px) {
  .subtitle {
    font-size: 16px;
  }
}

.heroBanner {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: 70vh;
}

/* banner background images */
.introductionBlock {
  background-color: var(--banner-background);
  /* adjust banner background svgs independently */
  background-image: url("/img/linea_globe.svg"), url("/img/linea_globe.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    right -170% top 100%,
    left -165% top -20%;
  background-size: 70%, 70%;
  padding: 6rem;
  text-align: center;
  height: 52vh;
  min-height: 500px;
  width: calc(100vw - 2.5rem) !important;
  border-radius: 14px;
  margin: 0 auto;
  position: relative;
}

@media (width <= 1380px) {
  .introductionBlock {
    height: 60vh;
  }
}

@media (width <= 768px) {
  .introductionBlock {
    padding: 2rem;
  }
}

@media (width <= 320px) {
  .introductionBlock {
    padding: 0;
    height: 55vh;
  }
}

.footerImageContainer {
  position: relative;
  text-align: center;
  padding-top: 20px;
  margin: 30px 0 0;
}

.footerImage {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding-bottom: -10px;
}
