
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forceColor {
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .forceColor {
  color: var(--ifm-font-color-secondary);
}

.title {
  font-size: clamp(1.5rem, 5vw, 6rem);
}

.subtitle {
  font-size: clamp(0.8rem, 1vw, 2rem);
  padding: 0 12rem;
}

@media (max-width: 1000px) {
  .subtitle {
    padding: 0;
  }
}

/* Banner background image */
.introductionBlock {
  background-image: url('/img/hero-home.webp');
  background-color: #121212;
  background-position: 125% 50%;
  background-repeat: no-repeat;
  background-size: 45% auto;
  padding: 6rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .introductionBlock {
    padding: 2rem;
    background-position: 60vw -10vh;
    background-size: 100% auto;
  }
}