.mdx-container {
  padding-bottom: 10rem;
}

.mdx-hero .md-button {
  border-radius: 0.1em;
  font-size: 1em;
}

.mdx-hero .md-button:hover {
  color: var(--md-primary-bg-color) !important;
  border-color: var(--md-accent-fg-color) !important;
}
