/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Custom styling made by CSCT */

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 0 auto 20px;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (width <= 768px) {
  .video-container {
    width: 100%;
  }
}

.center-container {
  display: flex;
  justify-content: center;
}

.img-xsmall {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.img-small {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.img-medium {
  max-width: 60%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.img-large {
  max-width: 90%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

@media (width <= 768px) {
  .img-xsmall {
    width: 50%;
    flex-shrink: 0;
  }

  .img-small {
    width: 80%;
    flex-shrink: 0;
  }

  .img-medium {
    width: 90%;
    flex-shrink: 0;
  }

  .img-large {
    width: 100%;
    flex-shrink: 0;
  }
}

.mermaid-xsmall {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.mermaid-small {
  max-width: 350px;
  width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.mermaid-medium {
  max-width: 60%;
  width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.mermaid-large {
  max-width: 90%;
  width: 100%;
  margin: 0 auto 20px;
  flex-shrink: 0;
}

.mermaid-xsmall svg,
.mermaid-small svg,
.mermaid-medium svg,
.mermaid-large svg {
  display: block;
  width: 100% !important;
  max-width: inherit !important;
  height: auto !important;
  margin: 0 auto;
}

@media (width <= 768px) {
  .mermaid-xsmall {
    width: 50%;
  }

  .mermaid-small {
    width: 80%;
  }

  .mermaid-medium {
    width: 90%;
  }

  .mermaid-large {
    width: 100%;
  }
}

/* Atyp font */

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Regular.woff2") format("woff2"),
    url("/fonts/AtypDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Medium.woff2") format("woff2"),
    url("/fonts/AtypDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/AtypDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Bold.woff2") format("woff2"),
    url("/fonts/AtypDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Light.woff2") format("woff2"),
    url("/fonts/AtypDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-BoldItalic.woff2") format("woff2"),
    url("/fonts/AtypDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-MediumItalic.woff2") format("woff2"),
    url("/fonts/AtypDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/AtypDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: AtypText;
  src: url("/fonts/AtypText-Regular.woff2") format("woff2"),
    url("/fonts/AtypText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypText;
  src: url("/fonts/AtypText-Semibold.woff2") format("woff2"),
    url("/fonts/AtypText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypText;
  src: url("/fonts/AtypText-Medium.woff2") format("woff2"),
    url("/fonts/AtypText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: AtypText;
  src: url("/fonts/AtypText-Bold.woff2") format("woff2"),
    url("/fonts/AtypText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: AtypText, sans-serif;
}

h1 {
  font-family: AtypDisplay, sans-serif;
  font-weight: 500;
}

h2 {
  font-family: AtypDisplay, sans-serif;
  font-weight: 500;
}

h3 {
  font-family: AtypDisplay, sans-serif;
  font-weight: 600;
}

h4 {
  font-family: AtypDisplay, sans-serif;
  font-weight: 600;
}

em {
  font-style: italic;
}

html {
  line-height: 1.5;
  tab-size: 4;
  font-family: inherit;
  font-feature-settings: normal;
  background: var(--page-background) !important;
}

hr {
  font-family: inherit;
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

a {
  font-family: inherit;
  color: #2eb9dc;
  text-decoration: inherit;
}

#b,
#strong {
  font-family: inherit;
}

code,
kbd,
pre,
samp {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
}

small {
  font-family: inherit;
  font-size: 80%;
}

sub,
sup {
  font-family: inherit;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  font-family: inherit;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: AtypDisplay, serif;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
}

.footer--dark {
  --ifm-footer-background-color: var(--footer-background);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --page-background: #121212;
  --ifm-color-primary-lightest: #fff;
  --ifm-color-primary-lighter: #fff;
  --ifm-color-primary-light: #bfe8ff;
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #dcf1fd;
  --ifm-color-primary-darker: #61dfff;
  --ifm-color-primary-darkest: #58cbe8;
  --ifm-color-success: #61dfff;
  --ifm-color-success-dark: #58cbe8;
  --ifm-color-info: #c0c0c0;
  --ifm-color-info-dark: #989898;
  --ifm-link-color: #2eb9dc;
  --ifm-menu-color-active: #2eb9dc;
  --ifm-footer-background-color: #000;
  --ifm-background-color: #121212;
  --docusaurus-highlighted-code-line-bg: rgb(66 66 66 / 35%);
  --search-local-hit-active-color: #000;
  --banner-background: #1d1d1d;
  --banner-text: #fff;
  --banner-text-shadow: #121212;
  --banner-button-hover: #fff;
  --banner-button-text-hover: #121212;
  --homepage-card-background: #1d1d1d;
  --homepage-card-text: #fff;
  --homepage-card-border-color: #505050;
  --homepage-card-border-color-hover: #61dfff;
  --homepage-card-dot-hover: #fff;
  --homepage-card-icon: #fff;
  --footer-background: #121212;
  --linea-highlight-color-1: #fff068;
  --linea-highlight-color-2: #6119ef;
  --linea-banner-logo: #fff;
  --linea-text-color-1: #190066;
  --linea-sidebar-text-color: #fff;
  --search-bar-background: #fff;
}

[data-theme="light"] {
  --page-background: #f8f7f2;
  --ifm-color-primary-lightest: #eaf0ff;
  --ifm-color-primary-lighter: #a5e5ff;
  --ifm-color-primary-light: #61dfff;
  --ifm-color-primary: #000;
  --ifm-color-primary-dark: #313131;
  --ifm-color-primary-darker: #545454;
  --ifm-color-primary-darkest: #818181;
  --ifm-color-success: #61dfff;
  --ifm-color-success-dark: #58cbe8;
  --ifm-link-color: #2eb9dc;
  --ifm-link-hover-color: #2eb9dc;
  --ifm-menu-color-active: #2eb9dc;
  --ifm-color-info: #c0c0c0;
  --ifm-color-info-dark: #989898;
  --ifm-footer-background-color: #000;
  --ifm-footer-link-hover-color: #c0c0c0;
  --ifm-background-color: #fff;
  --banner-background: #fff;
  --banner-text: #121212;
  --banner-text-shadow: #fff;
  --banner-button-hover: #121212;
  --banner-button-text-hover: #fff;
  --homepage-card-background: #fff;
  --homepage-card-text: #fff;
  --homepage-card-border-color: #c0c0c0;
  --homepage-card-border-color-hover: #505050;
  --homepage-card-dot-hover: #61dfff;
  --homepage-card-icon: #c0c0c0;
  --footer-background: #f8f7f2;
  --linea-highlight-color-1: #fff068;
  --linea-highlight-color-2: #6119ef;
  --linea-text-color-1: #190066;
  --linea-banner-logo: #190066;
  --linea-sidebar-text-color: #190066;
  --search-bar-background: #fff;
}

/* github */
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 28px;
  height: 28px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* discord */
.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  content: "";
  width: 28px;
  height: 28px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.14 96.36'%3E%3Cg id='图层_2' data-name='图层 2'%3E%3Cg id='Discord_Logos' data-name='Discord Logos'%3E%3Cg id='Discord_Logo_-_Large_-_White'%3E%3Cpath d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z' fill='%23190066'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
  background-size: contain;
  background-position: center;
}

html[data-theme="dark"] .header-discord-link::before {
  content: "";
  width: 28px;
  height: 28px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.14 96.36'%3E%3Cg id='图层_2' data-name='图层 2'%3E%3Cg id='Discord_Logos' data-name='Discord Logos'%3E%3Cg id='Discord_Logo_-_Large_-_White'%3E%3Cpath d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z' fill='%2361dfff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
  background-size: contain;
  background-position: center;
}

@media (width <= 1070px) {
  .header-discord-link {
    padding-left: 0;
  }
}

@media (width <= 996px) {
  .header-discord-link {
    padding-left: 12px;
  }
}

/* twitter */
.header-twitter-link:hover {
  opacity: 0.6;
}

.header-twitter-link::before {
  content: "";
  width: 28px;
  height: 28px;
  margin-top: 8px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300.25'%3E%3Cpath d='M178.57 127.15L290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66' fill='%23190066'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 20px 20px;
}

html[data-theme="dark"] .header-twitter-link::before {
  content: "";
  width: 28px;
  height: 28px;
  margin-top: 8px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300.25'%3E%3Cpath d='M178.57 127.15L290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66' fill='%2361dfff'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 20px 20px;
}

@media (width <= 996px) {
  .header-twitter-link::before {
    margin-top: 0;
    background-size: 24px 24px;
    margin-left: 2px;
  }

  html[data-theme="dark"] .header-twitter-link::before {
    margin-top: 0;
    background-size: 24px 24px;
    margin-left: 2px;
  }
}

/* release notes navbar item handling */
.header-release-notes-link::before { /* icon */
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' version='1.1' viewBox='0 0 109.9 125.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23000%3Bstroke-width%3A0px%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M74.6%2C34.8h-41.5c-2.6%2C0-4.6%2C2.1-4.6%2C4.7s2.1%2C4.6%2C4.6%2C4.6h41.5c2.6%2C0%2C4.6-2.1%2C4.6-4.6s-2.1-4.7-4.6-4.7Z'/%3E%3Cpath class='cls-1' d='M74.6%2C57.1h-41.5c-2.6%2C0-4.6%2C2.1-4.6%2C4.6s2.1%2C4.7%2C4.6%2C4.7h41.5c2.6%2C0%2C4.6-2.1%2C4.6-4.7s-2.1-4.6-4.6-4.6Z'/%3E%3Cpath class='cls-1' d='M49.8%2C116.8v-.3H9.3V9.3h89.1v49.7c0%2C2.6%2C2.1%2C4.6%2C4.7%2C4.6s4.6-2.1%2C4.6-4.6V8.8c0-2.4-.9-4.6-2.6-6.2-1.7-1.7-3.9-2.6-6.2-2.6H8.8c-2.4%2C0-4.6.9-6.2%2C2.6C.9%2C4.3%2C0%2C6.5%2C0%2C8.8v108.2c0%2C2.4.9%2C4.6%2C2.6%2C6.2%2C1.7%2C1.7%2C3.9%2C2.6%2C6.2%2C2.6h39.4c2.6%2C0%2C4.6-2.1%2C4.6-4.7s-1.3-3.8-3.1-4.4Z'/%3E%3Cpath class='cls-1' d='M53.5%2C79.4h-20.5c-2.6%2C0-4.7%2C2.1-4.7%2C4.7s2.1%2C4.7%2C4.7%2C4.7h20.5c2.6%2C0%2C4.7-2.1%2C4.7-4.7s-2.1-4.7-4.7-4.7Z'/%3E%3Cpath class='cls-1' d='M108.7%2C81.9l-7.4-7.1c-.8-.8-1.8-1.1-2.8-1.1-1.1%2C0-2%2C.4-2.8%2C1.2l-4.9%2C5.1l13.1%2C12.7l5-5.2c.7-.7%2C1.1-1.7%2C1.1-2.9%2C0-1.1-.4-2.1-1.2-2.8Z'/%3E%3Cpath class='cls-1' d='M67.7%2C103.9l-.3.3-2.8%2C10.8c-1.2%2C4.6-1.2%2C5.5-.4%2C6.2.3.3.7.4%2C1.1.4s.3%2C0%2C.4%2C0c.4-.1%2C2-.6%2C5.8-1.9l1.8-.6c.8-.3%2C1.7-.6%2C2.5-.8l1.4-.4c1-.3%2C2-.6%2C3-1h.4c0-.1%2C21.8-22.9%2C21.8-22.9l-13.1-12.6-21.6%2C22.5Z'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  margin-top: 9px;
  position: relative;
}

.header-release-notes-link:hover::before { /* icon hover effect */
  opacity: 0.6;
}

.header-release-notes-link {
  position: relative;
  display: inline-block;
}

.header-release-notes-link::after { /* "release notes" button, which appears on hover */
  content: "Release Notes";
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--linea-highlight-color-2);
  color: #fff;
  padding: 8px 12px;
  border-radius: 99px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease, visibility 0.3s ease;
}

.header-release-notes-link:hover::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1070px) { /* hides in the navbar for mobile displays */
  .navbar .header-release-notes-link {
    display: none !important;
    width: 0;
  }

  .navbar-sidebar .header-release-notes-link { /* shows in the mobile sidebar instead */
    display: block !important;
    font-size: 16px;
    font-weight: 500;
    font-family: "AtypText", sans-serif;
    padding: 6px 12px;
    margin: 0 8px 0 0;
    text-align: left;
    width: auto;
    color: var(--linea-sidebar-text-color) !important;
  }

  .navbar-sidebar .header-release-notes-link::before,
  .navbar-sidebar .header-release-notes-link::after {
    display: none;
  }

  .navbar-sidebar .header-release-notes-link::before {   /* adding text-based "Release notes" item to mobile sidebar */
    content: "Release Notes";
    background: none;
    display: inline;
    color: inherit;
  }
}

/* broader styling for sidebar items colors */
.navbar-sidebar__brand {
  background: var(--linea-highlight-color-1);
}

.navbar-sidebar__back {
  color: var(--banner-text) !important;
}

/* light/dark toggle colour */
.clean-btn {
  color: var(--linea-text-color-1);
}

/* dockerhub */
.header-dockerhub-link:hover {
  opacity: 0.6;
}

.header-dockerhub-link::before {
  content: "";
  width: 28px;
  height: 28px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M507 211.16c-1.42-1.19-14.25-10.94-41.79-10.94a132.55 132.55 0 0 0-21.61 1.9c-5.22-36.4-35.38-54-36.57-55l-7.36-4.28-4.75 6.9a101.65 101.65 0 0 0-13.06 30.45c-5 20.7-1.9 40.2 8.55 56.85-12.59 7.14-33 8.8-37.28 9H15.94A15.93 15.93 0 0 0 0 262.07 241.25 241.25 0 0 0 14.75 348.9C26.39 379.35 43.72 402 66 415.74 91.22 431.2 132.3 440 178.6 440a344.23 344.23 0 0 0 62.45-5.71 257.44 257.44 0 0 0 81.69-29.73 223.55 223.55 0 0 0 55.57-45.67c26.83-30.21 42.74-64 54.38-94h4.75c29.21 0 47.26-11.66 57.23-21.65a63.31 63.31 0 0 0 15.2-22.36l2.14-6.18Z'/%3E%3Cpath d='M47.29 236.37H92.4a4 4 0 0 0 4-4h0V191.89a4 4 0 0 0-4-4H47.29a4 4 0 0 0-4 4h0v40.44a4.16 4.16 0 0 0 4 4h0'/%3E%3Cpath d='M109.5 236.37h45.12a4 4 0 0 0 4-4h0V191.89a4 4 0 0 0-4-4H109.5a4 4 0 0 0-4 4v40.44a4.16 4.16 0 0 0 4 4'/%3E%3Cpath d='M172.9 236.37H218a4 4 0 0 0 4-4h0V191.89a4 4 0 0 0-4-4H172.9a4 4 0 0 0-4 4h0v40.44a3.87 3.87 0 0 0 4 4h0'/%3E%3Cpath d='M235.36 236.37h45.12a4 4 0 0 0 4-4V191.89a4 4 0 0 0-4-4H235.36a4 4 0 0 0-4 4h0v40.44a4 4 0 0 0 4 4h0'/%3E%3Cpath d='M109.5 178.57h45.12a4.16 4.16 0 0 0 4-4V134.09a4 4 0 0 0-4-4H109.5a4 4 0 0 0-4 4v40.44a4.34 4.34 0 0 0 4 4'/%3E%3Cpath d='M172.9 178.57H218a4.16 4.16 0 0 0 4-4V134.09a4 4 0 0 0-4-4H172.9a4 4 0 0 0-4 4h0v40.44a4 4 0 0 0 4 4'/%3E%3Cpath d='M235.36 178.57h45.12a4.16 4.16 0 0 0 4-4V134.09a4.16 4.16 0 0 0-4-4H235.36a4 4 0 0 0-4 4h0v40.44a4.16 4.16 0 0 0 4 4'/%3E%3Cpath d='M235.36 120.53h45.12a4 4 0 0 0 4-4V76a4.16 4.16 0 0 0-4-4H235.36a4 4 0 0 0-4 4h0v40.44a4.17 4.17 0 0 0 4 4'/%3E%3Cpath d='M298.28 236.37H343.4a4 4 0 0 0 4-4V191.89a4 4 0 0 0-4-4H298.28a4 4 0 0 0-4 4h0v40.44a4.16 4.16 0 0 0 4 4'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-dockerhub-link::before {
  filter: invert(100%);
}

@media only screen and (width <= 525px) {
  .menu__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-github-link::after {
    margin-left: 20px;
    content: "Github ";
  }

  .header-twitter-link::after {
    margin-left: 20px;
    content: "Twitter ";
  }

  .header-discord-link::after {
    margin-left: 20px;
    content: "Discord ";
  }

  .header-dockerhub-link::after {
    margin-left: 20px;
    content: "DockerHub ";
  }
}

.navbar--fixed-top {
  margin-top: 25px; /* adds space above navbar */
}

/* Navbar formatting */
.navbar {
  --ifm-navbar-height:7vh;
  height: clamp(60px, var(--ifm-navbar-height), 100px);
  box-shadow: none;
  border: none !important;
  background: none !important;
}

.navbar__inner { /* adds yellow rounded rectangle to navbar items */
  background-color: var(--linea-highlight-color-1);
  border: 1px solid var(--page-background);
  border-radius: 17px;
  width: calc(100% - 20rem);
  max-width: 1500px;
  margin: 0 auto;
}

.navbar__logo {
  color: var(--linea-text-color-1);
  height: 28px;
  width: auto;
  padding: 3px 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5px;
}

@media (width <= 1350px) {
  .navbar__logo {
    height: 25px;
    top: -5px;
  }

  .navbar__inner {
    width: 90%;
  }

  .navbar {
    --ifm-navbar-height: 7vh;
    height: clamp(60px, var(--ifm-navbar-height), 100px);
    box-shadow: none;
  }
}

@media (width <= 996px) {
  .navbar__logo {
    height: 25px;
    top: -4px;
  }

  .navbar__inner {
    padding: 0 15px;
    width: 100%;
  }
}

.navbar__title {
  color: var(--linea-text-color-1);
  font-size: 22px;
  font-weight: 400;
  padding-right: 15px;
}

@media (width <= 1500px) {
  .navbar__title {
    display: flex;
    font-size: 20px;
    padding-right: 0;
  }
}

@media (width <= 768px) {
  .navbar__logo {
    height: 28px;
  }

  .navbar__title {
    font-size: 19px;
    padding-top: 1px;
  }
}

.navbar__items {
  overflow: visible;
}

.navbar__item {
  color: var(--linea-text-color-1);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.navbar__link {
  padding-right: 10px;
}

/* circle icons */
.navbar__link[href="/users"]::before,
.navbar__link[href="/developers/quickstart"]::before,
.navbar__link[href="/architecture"]::before,
.navbar__link[href="/developers/guides/run-a-node"]::before {
  border: 1px solid var(--linea-text-color-1);
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 8px;
  border: 1px solid currentColor;
  border-radius: 50%;
  vertical-align: middle;
  transition: background-color 0.2s ease;
  margin-left: 12px;
}

/* circle hover */
.navbar__link[href="/users"]:hover::before,
.navbar__link[href="/developers/quickstart"]:hover::before,
.navbar__link[href="/architecture"]:hover::before,
.navbar__link[href="/developers/guides/run-a-node"]:hover::before {
  background-color: var(--linea-text-color-1);
  border: 1px solid var(--linea-text-color-1);
}

/* persist circle highlight when in a specific section */
.navbar__link[href="/users"][aria-current="page"]::before,
.navbar__link[href="/architecture"][aria-current="page"]::before,
.navbar__link[href="/developers/quickstart"][aria-current="page"]::before {
  background-color: var(--linea-text-color-1);
  border: 1px solid var(--linea-text-color-1);
}

@media (width <= 1500px) {
  .navbar__item {
    font-size: 15px;
  }

  .navbar__link[href="/users"]::before,
  .navbar__link[href="/developers/quickstart"]::before,
  .navbar__link[href="/architecture"]::before,
  .navbar__link[href="/developers/guides/run-a-node"]::before {
    display: none;
  }
}


@media (width <= 1320px) {
  .navbar__item {
    font-size: 15px;
  }
}

/* search bar */
.navbar__search input {
  width: 95%;
  transition: width 0.25s ease;
  background-color: var(--search-bar-background);
}

@media (width <= 1320px) {
  .navbar__search input {
    width: 150px;
    right: 0px;
    margin-right: 10px;
  }
}

div[class*="navbar__search"] kbd { /* targets and hides the "⌘+K" hint element from the searchbar */
  display: none !important;
}

html[data-theme="light"] .navbar {
  background-color: #fff;
}

html[data-theme="dark"] .navbar {
  background-color: #121212;
}

/* Make navbar look friendly on small devices. */
@media only screen and (width <= 400px) {
  .nav_src-pages-index-module .linkItem_src-pages-index-module {
    padding-right: 0 !important;
  }

  .nav_src-pages-index-module {
    width: 100% !important;
  }

  .socialLinks_src-pages-index-module {
    display: none !important;
  }
}

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: medium;
  border-radius: 0.25rem;
  border: 1px solid;
  border-inline-start-width: 5px;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-info-contrast-background);
  color: var(--ifm-color-info-contrast-foreground);
  border-color: var(--ifm-color-info-dark);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-contrast-foreground);
  border-color: var(--ifm-color-danger-dark);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-contrast-foreground);
  border-color: var(--ifm-color-warning-dark);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}

.event > .menu__link::before {
  content: "event";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}

/* Algolia Search Styling */
.DocSearch-Logo {
  display: none !important;
}

.DocSearch-Footer {
  justify-content: flex-start !important;
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94 100 112 70%);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47 55 69 70%);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-black);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

/* This was originally in /docs/stylesheets/snippets.css */

:root > * {
  --md-code-hl-comment-color: #b3ccfb;
}

/* This centers copy wherever you need it to be centered; put 'id="centered-copy"'' in the div tag */

#centered-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}

.my-tabs {
  display: inline-flex;
  justify-content: normal;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  background-color: #b3ccfb;
  color: #121212;
}

.my-tabs .tab-item {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: #b3ccfb;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  color: #121212;
}

.my-tabs .tab-item:hover {
  background-color: #b3ccfb;
}

.my-tabs .tab-item.active {
  background-color: #b3ccfb;
  border-bottom-color: #007bff;
  color: #007bff;
}

.all-mode-tabs {
  color: #121212;
  background-color: #b3ccfb;
}

/* Styling for callouts */

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-info {
  border-left-color: #2980b9;
}

.callout-warning {
  border-left-color: #f39c12;
}

.footer__title {
  color: var(--banner-text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.footer__link-item {
  color: var(--banner-text);
  text-transform: uppercase;
  font-size: 14px;
}

.footer__copyright {
  padding-top: 10px;
  text-align: left;
  color: var(--banner-text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

/* Necessary for enabling GetFeedback widgets to display */
.getfeedback-container {
  margin-top: 50px;
  margin-bottom: -2rem;
}

.getfeedback-hidden {
  display: none !important;
}

/* sidebar/docs page layout */ 
.theme-doc-sidebar-container {
  border-right: none !important;
  padding-top: 20px;
}

.thin-scrollbar {
  background-color: var(--banner-background) !important;
  margin: 35px 20px 0 20px;
  border-radius: 15px;
  max-height: 75vh;
}

button[aria-label="Collapse sidebar"] {
  border: none !important;
  background-color:  var(--linea-highlight-color-1);
  margin: 20px 20px 35px 20px;
  border-radius: 15px;
}

.menu__link {
  margin-right: 8px;
  color: var(--linea-sidebar-text-color);
}

.menu__link--active:hover {
  margin-right: 8px;
  color: var(--linea-highlight-color-2);
}

.expandButton {
  background-color: var(--page-background) !important;
}

.table-of-contents {
  border: none;
}

.table-of-contents__link {
  color: var(--linea-sidebar-text-color);
}

div[aria-label="Expand sidebar"] {
  background-color: var(--banner-background);
  margin-top: 35px;
  border-radius: 15px;
  max-height: 85vh;
}
