:root {
  --featured-light: #fff068; 
  --featured-dark: #190066; 
  --featured-accent: #61dfff; 
  --black-light: #f8f9fa;
  --black-mid: #2b2b2b;
  --gray-dark: #212529;
}

[data-theme="dark"] {
  --card-text: #fff;
  --category-hover: var(--black-light);
  --category-card-background: var(--black-mid);
  
  /* featured */
  --featured-card-bg: var(--featured-dark);
  --featured-card-content: #fff;
  --featured-card-content-hover: var(--featured-accent);
  --featured-card-border: var(--featured-accent);
  --featured-card-hover: #121212;
}

[data-theme="light"] {
  --card-text: #0a0a0a;
  --category-hover: var(--gray-dark);
  --category-card-background: var(--black-light);

  /* featured */
  --featured-card-bg: var(--featured-light);
  --featured-card-content: var(--featured-dark);
  --featured-card-content-hover: var(--featured-dark);
  --featured-card-border: var(--featured-accent);
  --featured-card-hover: var(--featured-accent);
}

.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  color: #fff;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: auto;
  position: relative;
  padding: 3rem 2rem !important;
}

.cardContainer:hover {
  color: #fff;
  box-shadow: 0 0 6px 2px rgb(0 0 0 / 8%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  color: var(--card-text);
  font-size: 1.6rem;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.cardDescription {
  font-size: 1.3rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 3em;
}

.categoryCard {
  background-color: var(--category-card-background);
  color: #fff;
  gap: 16px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.categoryCard:hover {
  text-decoration: none !important;
  background-color: var(--category-hover);
}

.categoryCard .cardTitle {
  color: #fff;
}

.linkCard {
  background-color: var(--category-card-background);
  color: var(--title-text);
  transition:
    box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.linkCard:hover {
  background-color: var(--category-card-background-hover);
  color: var(--category-title-text);
  border: 1px solid var(--category-title-text);
  box-shadow: 0 0 6px 5px rgb(0 0 0 / 2%);
}

.sectionTitle {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  clear: both;
}

.featuredCard {
  background-color: var(--featured-card-bg);
  color: var(--card-text);
  border: none;
  min-height: auto;
  gap: 16px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-left 0.2s ease-in-out;
}

.featuredCard:hover {
  background-color: var(--featured-dark);
  color: #fff;
  border-left: 1rem solid var(--featured-accent) !important;
  text-decoration: none !important;
}

.featuredCardArticle {
  order: -1;
}

.featuredCardTitle {
  color: var(--card-text);
  font-size: 1.35rem;
  font-weight: normal;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.featuredCard:hover .featuredCardTitle {
  color: #fff !important;
}

.featuredCardDescription {
  font-size: 1.3rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 3em;
}

