---
name: Check file name case

on:
  pull_request:
    branches: [ main ]
    paths: ['docs/**']

jobs:
  case:
    name: Check for case being inconsistent
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: ["docs"]
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Case check action
        uses: ConsenSys/github-actions/docs-case-check@main
        with:
          DOC_DIR: ${{ matrix.folder }}
