---
name: Check for broken links

on:
  pull_request:
    branches:
      - main

jobs:
  linkCheck:
    name: Link Checking
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: LinkCheck
        uses: Consensys/github-actions/docs-link-check@main
        with:
          CONFIG_FILE: '.linkspector.yml'
