---
name: Nightly check

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  linkCheck:
    name: Run link check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: LinkCheck
        uses: ConsenSys/github-actions/docs-link-check@main
        with:
          CONFIG_FILE: .linkspector.yml

  slackNotification:
    needs: linkCheck
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    permissions: {}   # zero scopes
    steps:
      - name: Slack Notification
        uses: ConsenSys/github-actions/slack-notify@main
        with:
          SLACK_CHANNEL: doc-ci-alerts
          SLACK_COLOR: danger
          SLACK_TITLE: Linea docs nightly build - Failure
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          MSG_MINIMAL: true