---
  name: Nightly check
  
  on:
    schedule:
      - cron: "0 0 * * *"
    workflow_dispatch: {}
  
  jobs:
    linkCheck:
      name: Run link check
      runs-on: ubuntu-latest
      strategy:
        matrix:
          file-extensions: [".md", ".mdx"]
      permissions:
        contents: read
      steps:
        - uses: actions/checkout@v4
        - name: LinkCheck
          uses: ConsenSys/docs-gha/linkcheck@main
          with:
              FILE_EXTENSION: ${{ matrix.file-extensions }}
              MODIFIED_FILES_ONLY: no